.cat-and-dog-cuate-11 {
    position: absolute;
    top: 0;
    left: 70px;
    width: 339px;
    height: 320px;
    overflow: hidden;
  }
  .encontre-seu-novo1 {
    margin: 0;
  }
  .encontre-seu-novo-container1 {
    position: absolute;
    top: 465px;
    left: calc(50% - 181px);
    font-size: var(--font-size-xl);
    display: inline-block;
    width: 362px;
    height: 124px;
  }
  .visamos-facilitar-a2,
  .visamos-facilitar-a3 {
    position: absolute;
    top: 711px;
    left: 98px;
    display: inline-block;
    width: 359px;
  }
  .visamos-facilitar-a3 {
    top: 813px;
  }
  .gato-1-11 {
    position: absolute;
    top: 709px;
    left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .pet-house1 {
    position: absolute;
    top: 367px;
    left: 142px;
    font-size: var(--font-size-17xl);
    color: var(--color-salmon);
  }
  .cachorro-1-icon1 {
    position: absolute;
    top: 803px;
    left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .tela-login2 {
    top: 0;
    left: 0;
    background-color: var(--color-brown);
    width: 480px;
    height: 1024px;
    overflow: hidden;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  .e-mail1,
  .login,
  .tela-login2 {
    position: absolute;
  }
  .login {
    top: 151px;
    left: 899px;
    font-size: var(--font-size-31xl);
  }
  .e-mail1 {
    top: 363px;
    left: 679px;
    font-weight: 500;
  }
  .tela-login-child {
    top: 431px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .senha1,
  .tela-login-child,
  .tela-login-item {
    position: absolute;
    left: 679px;
  }
  .senha1 {
    top: 496px;
    font-weight: 500;
  }
  .tela-login-item {
    top: 564px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .tela-login-inner {
    position: absolute;
    top: 741px;
    left: 837px;
    border-radius: var(--br-51xl);
    background-color: var(--color-tomato);
    width: 263px;
    height: 62px;
  }
  .entrar1 {
    position: absolute;
    top: 749px;
    left: 924px;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-white);
  }
  .caso-no-tenha,
  .criar-conta1 {
    position: absolute;
    top: 645px;
    left: calc(50% - 41px);
    font-size: var(--font-size-xl);
    display: inline-block;
    font-family: var(--font-montserrat);
    text-align: left;
    width: 339px;
    height: 15px;
  }
  .criar-conta1 {
    top: 644px;
    left: calc(50% + 249px);
    width: 146px;
  }
  .criarcontacolor{
    color: red;
  }
  .tela-login1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .gmail007{
    position: absolute;
    top: 415px;
    left: 690px;
    border: none;
    outline: none;
    width: 100%;
  }
  .senha007{
    position: absolute;
    top: 550px;
    left: 687px;
    border: none;
    outline: none;
    width: 100%;
  }
  .entrar007{
    text-decoration: none;
    color: white;
  }