header {
  background-color: #EBE3CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 5%;
}
body{
  margin: 0;
}

header nav a {
  color: #062D3E;
  text-decoration: none;
  font-weight: 600;
  padding: 0px 32px;
}
header nav a:hover {
  text-decoration-color: yellow;
}
.sobre{
  color: var(--color-darkslategray);
  font-family: var(--font-josefin-sans);
  
}
.paragrafo{
  font-family: var(--font-tahoma);
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-left: 2%;
  margin-top: 2%;
  
}
h1{
  font-family: var(--font-poppins);
  font-size: 54px;
  text-align: center;
  margin-top: 120px;
  font-weight: 500;

}
.rodape {
 
  background-color:  #7c7d9f;
  height: 40%;
  padding-top: 100px;

}
footer {
  background-color: var(--color-midnightblue);
  height: 182px;
  top: 116px;
  justify-content: space-between;
  padding-bottom: 80px ;
  margin-top: 120px;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-poppins: Poppins;
  --font-josefin-sans: "Josefin Sans";
  --font-tahoma: Tahoma;
  --color-midnightblue: #0f0e4d;
}