.cadastro1 {
    position: absolute;
    top: 152px;
    left: 359px;
    font-size: var(--font-size-31xl);
  }
  .frame-child1,
  .nome {
    position: absolute;
    left: 162px;
  }
  .nome {
    top: 323px;
    font-weight: 500;
  }
  .frame-child1 {
    top: 391px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .e-mail1 {
    top: 582px;
    font-weight: 500;
  }
  .e-mail1,
  .frame-child2,
  .senha1 {
    position: absolute;
    left: 162px;
  }
  .frame-child2 {
    top: 481px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .senha1 {
    top: 498px;
    font-weight: 500;
  }
  .frame-child3 {
    top: 566px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .cpf,
  .frame-child3,
  .frame-child4 {
    position: absolute;
    left: 162px;
  }
  .cpf {
    top: 413px;
    font-weight: 500;
  }
  .frame-child4 {
    top: 650px;
    width: 580px;
    height: 3.1px;
    object-fit: contain;
  }
  .frame-child5 {
    position: absolute;
    top: 762px;
    left: 334px;
    border-radius: var(--br-51xl);
    background-color: var(--color-tomato);
    width: 235px;
    height: 62px;
    cursor: pointer;
  }
  .criar-conta2 {
    position: absolute;
    top: 775px;
    left: 381px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    color: var(--color-white);
  }
  .caso-j-tenha1,
  .entrar2 {
    position: absolute;
    top: 696px;
    left: calc(50% - 329px);
    font-size: var(--font-size-xl);
    display: inline-block;
    font-family: var(--font-montserrat);
    text-align: left;
    width: 281px;
    height: 23px;
  }
  .entrar2 {
    left: calc(50% - 61px);
    color: var(--color-red);
    width: 92px;
  }
  .cadastro-group,
  .cat-and-dog-cuate-12 {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .cadastro-group {
    left: 0;
    background-color: var(--color-white);
    width: 960px;
    height: 1024px;
  }
  .cat-and-dog-cuate-12 {
    left: 70px;
    width: 339px;
    height: 320px;
  }
  .encontre-seu-novo2 {
    margin: 0;
  }
  .encontre-seu-novo-container2 {
    position: absolute;
    top: 465px;
    left: calc(50% - 181px);
    font-size: var(--font-size-xl);
    display: inline-block;
    width: 362px;
    height: 124px;
  }
  .visamos-facilitar-a4,
  .visamos-facilitar-a5 {
    position: absolute;
    top: 711px;
    left: 98px;
    display: inline-block;
    width: 359px;
  }
  .visamos-facilitar-a5 {
    top: 813px;
  }
  .gato-1-12 {
    position: absolute;
    top: 709px;
    left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .pet-house2 {
    position: absolute;
    top: 367px;
    left: 142px;
    font-size: var(--font-size-17xl);
    color: var(--color-salmon);
  }
  .cachorro-1-icon2 {
    position: absolute;
    top: 803px;
    left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .tela-cadastro,
  .tela-login3 {
    background-color: var(--color-brown);
    height: 1024px;
    overflow: hidden;
  }
  .tela-login3 {
    position: absolute;
    top: 0;
    left: 960px;
    width: 480px;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  .tela-cadastro {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: var(--font-size-16xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  